@model IEnumerable<testframeworj7.Models.TypesdeChambres>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etabID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.etabID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id=".typeID">Edit</a> |
                <a asp-action="Details" asp-route-id=".typeID">Details</a> |
                <a asp-action="Delete" asp-route-id=".typeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
